*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}

nav{
    display: flex;
    background-color: #1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    align-items: center;

}

.Logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin: 0 8px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
}


nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/* responsive work start */

@media only screen and (max-width: 940px) {
    .menu-btn{
        display: block;
    }
    nav ul{
        position: fixed;
        background-color: #17202a;
        top: 80px;
        padding-top: 20px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin: 50px 0px;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover{
        background-color: none;
        color: red;
    }
    nav ul li a.active{
        background-color: none;
        color: red;
    }
}



/* hero area start */

header{
    background-image: url(image/car3.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* first-section star */

#first-section{
    background-color: #16213e;

}
#first-section > h2{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.service-parent{
    padding: 50px 0;
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    
}

.single-service{
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
    border: 1px solid green;
    box-shadow: 5px 5px 10px gray;
}

.single-service i{
    font-size: 40px;
}

.single-service h2{
    margin: 10px 0;
    font-weight: bold;
}


/* smart-area-section-start */


#second-section{
    background-color: #174362;
    padding: 50px 0 100px 0;
}


.smart-text{
    color: #fee500;
    font-size: 22px;
    text-align: center;
}

.smart-pareant{
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smart-area-text{
    color: white;
}

.smart-area-text h2{
    font-size: 30px;
    margin: 20px 0;
}

.smart-area-text h4{
    text-transform: uppercase;
    margin-top: 30px;
}

.smart-area-text a {
    text-decoration: none;
    background-color: bisque;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 22px;
    display: inline-block;
    margin-top: 40px;
}

/* 3rd section code start */

#therd-section{
    background-image: url(image/car5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 0px;
}

#about-parent{
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    color: #fff;
}

.more-about-vanilla{
    background-color: #00000059;
    width: 100%;
}

.more-about-vanilla h4{
    font-size: 18px;
    margin-bottom: 20px;
}

.more-about-vanilla ul{
    margin: 20px 20px;
}

.more-about-vanilla a{
    text-decoration: none;
    font-size: 18px;
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

#about-single-items-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 100%;

}

.about-single-items{
    background-color: #ffffffc8;
    box-shadow: 0px 0px 15px #22ff0091;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    color: black;
}

.about-single-items h4{
    font-size: 20px;
    padding: 5px 0 10px 0;
}


/* programmer's tips */

#fourth-section{
    background-color: #154360;
    padding: 100px 0;
    color: #fff;
}

.advice-parent{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.advice-img-box img{
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}

.single-advice p{
    margin: 20px 0;
    line-height: 1.5;
    text-align: justify;
}

.single-advice h3{
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}

.single-advice h4{
    font-size: 25px;
    margin-top: 10px;
}

.single-advice a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
    border: 1px solid black;

}

.advice-icon{
    text-align: center;
    
}

.advice-icon a{
    margin: 0 5px;
}

.single-advice a:hover{
    background-color: wheat;

}


/* contarct-form-start */

#contact-section{
    background-image: linear-gradient(#263b7978, #000000b2), url('image/car.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
}

form{
    background-color: #2e357a;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border: 6px solid #4497d3;
    border-radius: 10px;
}

form h2{
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
}

form p{
    color: white;
    text-align: center;
    margin: 30px;
    letter-spacing: 0.1em;
}

.form-input{
    display: block;
    width: 100%;
    height: 20px;
    margin: 25px 0;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid #4497d3;
    padding: 0 10px;
    color: white;
    font-size: 18px;

}

.form-input::placeholder{
    color: #4497d3;
}

.submit-button{
    display: block;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 5px;
    background: none;
    color: white;
    outline-style: ridge;
    cursor: pointer;
    transition: 0.5;
}

.submit-button:hover{
    background-color: #16312e;
}














/* first section of main tag media query code start */

@media only screen and (max-width: 688px) {
    .service-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 40px 10px;
    }

    .smart-pareant{
        margin-right: 30px;
        margin-left: 30px;
        display: block;
    }

    .smart-img{
        width: 100%;
    }

    .smart-area-text{
        width: 100%;
        margin-top: 20px;
    }

    /* about-single-items-parent-start */

    #about-single-items-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    
    }

    #about-parent{
        margin-left: 30px;
        margin-right: 30px;
        align-items: center;
        display: block;
        color: #fff;
    }

    /* programmer's tips start */

    .advice-parent{
        margin-left: 30px;
        margin-right: 30px;
        display: block;
    }

    /* contarct-form-start */

    form{
        margin-top: 100px;
        background-color: #2e357a;
        max-width: 90%;
        padding: 20px 30px;
    }

    .form-input{
        margin: 50px 0;
    
    }

    
    
}



@media only screen and (min-width: 689px) and (max-width: 1099px) {
    header{
        background-position: center center;
        background-size: cover;
    }
    .service-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 40px 10px;
    }

    .smart-pareant{
        margin-right: 30px;
        margin-left: 30px;
        display: block;
    }

    .smart-img{
        width: 100%;
        text-align: center;
    }

    .smart-area-text{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

     /* about-single-items-parent-start */

    #about-parent{
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-single-items h4{
        font-size: 12px;
    }

    /* programmer's tips start */

    
    .advice-parent{
        margin-left: 70px;
        margin-right: 70px;
        display: flex;
    }

    /* contarct-form-start */

    form{
        margin-top: 10px;
        background-color: #2e357a;
        max-width: 90%;
        padding: 20px 30px;
    }

    .form-input{
        margin: 50px 0;
    
    }


}
